@font-face{
    font-family:Inuktitut;
    src:url('fonts/inuktitut.ttf');
    
}


/*------------------------------------------------*/
body{

    display : flex;
    flex-direction: column;
    align-items: center;

}

.top-header{

    display:flex;
    align-items: center;
}


#logo{


    width:150px;
}
.text-content{

    display : flex;
}

.text-logo{

    margin:20px;
}
#inuktitut{

    font-family: 'Inuktitut';
    font-size:4rem;
    opacity:1;
    transition: all 500ms ease;
}

#french{

    font-family: 'montserrat';
    font-size:3rem;
    opacity: 0;
    transition: all 1s ease;
    

}

.text-content:hover #inuktitut{

    opacity: 0;

}
.text-content:hover #french{

    opacity:1;
}

/*------------------------------------------------------------------------------------------------------*/

.nav{

    display: flex;;
}
.nav a{

    text-decoration: none;
    color : black;
}
.categorie-nav{

    margin:30px;    
    font-size:1.5rem;
}
.top-cat-nav{

    font-family: Inuktitut;
}

/*-------------------------MAMAFLEX */
.mama-flex{

    display:flex;
    flex-direction: row;
    width:80%;

}
#liste-grille{

    width :25%;
    display: flex;
    flex-direction: column;
    justify-self: center;
}

#show-pdf{

    width:75%;
    height:600px;
    display: flex;
    justify-content: center;
}

.item-click{

    cursor: pointer;
    
}

.underline-item-click{

    width:100%;
    border-bottom:solid 1px black;
    opacity: 0;
    transition: all 1s ease;


}

#liste-grille:hover .underline-item-click{

    opacity: 1;
}