@font-face{
    font-family:Inuktitut;
    src:url('fonts/inuktitut.ttf');
    
}


/*------------------------------------------------*/
body{

    display : flex;
    flex-direction: column;
    align-items: center;

}

.top-header{

    width:1300px;
    display:flex;
    align-items: center;
}


#logo{


    width:150px;
}
.text-content{

    display : flex;
}

.text-logo{

    margin:20px;
}
#inuktitut{

    font-family: 'Inuktitut';
    font-size:4rem;
    opacity:1;
    transition: all 500ms ease;
}

#french{

    font-family: 'montserrat';
    font-size:3rem;
    opacity: 0;
    transition: all 1s ease;
    

}

.text-content:hover #inuktitut{

    opacity: 0;

}
.text-content:hover #french{

    opacity:1;
}

/*------------------------------------------------------------------------------------------------------*/

.nav{

    display: flex;;
}
.nav a{

    text-decoration: none;
    color : black;
}
.categorie-nav{

    margin:30px;    
    font-size:1.5rem;
}
.top-cat-nav{

    font-family: Inuktitut;
}

/*-------------------------MAMAFLEX */
.mama-flex{

    display:flex;
    flex-direction: row;
    width:80%;

}
#liste-grille{

    width :25%;
    height:700px;
    display: flex;
    flex-direction: column;
    justify-self: center;
    overflow:scroll;
}
#liste-grille a{

    text-decoration: none;
    color : black;
}
#show-pdf{

    width:75%;
    height:600px;
    display: flex;
    justify-content: center;
}

.item-click{

    cursor: pointer;
    
}

.underline-item-click{

    width:100%;
    border-bottom:solid 1px black;
    opacity: 0;
    transition: all 1s ease;


}

#liste-grille:hover .underline-item-click{

    opacity: 1;
}



.auteur-click{

    margin: 20px;
}


/*-------------------------FORMUCONNECT-----------------------*/
.top-page{

    position: absolute;

    width:1000px;
    height:100px;
  
}
.top-page a{

    text-decoration: none;
    color:black;
}

.titre-fr,.titre-inut{

    position :absolute;
    font-size: 50px;
    transition :all .4s ease-in;
    bottom:0;
}

.titre-inut{

    font-family: Inuktitut;
    font-size:70px;

}

#right{

    right:0;
}

.waou-effect .titre-fr{

    opacity: 0;
}


.waou-effect:hover .titre-inut{

    opacity : 0;
}

.waou-effect:hover .titre-fr{

    opacity : 1;
}

.big-container{

    width:1020px;
    height : 750px;
    display:flex;
    justify-content: right;
    align-items: center;
    margin-top:150px;
    background-image: url('ressources/inukshuk_colore_resized.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}


.right-container{

    width : 35%;
    height: 80%;
    margin-right:25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*glass effect */
    background:rgba(255,255,255,0.2);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: 0 4px 30px rgba(0,0,0,0.8);
}

.right-container .formulaire{

    display:flex;
    flex-direction: column;
    align-items: center;
}

.right-container .formulaire input{

    width:60%;
    margin:10px;

}

#button-send
{
    margin :100px;
    width:150px;
    height:150px;
    border-radius: 50%;
    font-size:.7rem;
    border:none;
    border-right:20px solid black;
    background-color: #fff;
    transition:all 500ms ease;
    font-family: Inuktitut;
    color:black;


}         

#button-send:hover
{
    box-shadow: 0px 0px 100px 5px #fff;
    color : white;
    background-color: black;
    border-left:20px solid white;
    border-right:none;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    
}

input::-moz-placeholder{

    font-family : Inuktitut;
}

input:focus::-moz-placeholder{

    font-family: 'Courier New', Courier, monospace;
}
/*---------------------------------------------------FormuInscription--------------------------------------------------------------------*/


.formulaire textarea{

    width:60%;

}

textarea::-moz-placeholder{

    font-family: Inuktitut;
}
textarea:focus::-moz-placeholder{

    font-family: 'Courier New', Courier, monospace;
}

/*------------------------------------------footer---------------------------------------------------------------------------------------*/

footer{

    display:flex;
    justify-content: center;
    font-size: 0.75rem;
    margin-top:50px;
}
@media(max-width:768px){}


@media(min-width:768px)and (max-width:1024px){


    .top-header{

        width : 1000px;
    }

    .text-content{

        display : none;
    }


}

